*{
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  margin: 0 auto;
  font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Navbar */
nav.navbar {
  position: absolute;
  width: 100%;
  z-index: 5;
  padding: 1.4em 0;
}

.navbar-brand, 
.nav-link {
  color: #ffffff;
}

nav.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 36, 182, 0.7);
  z-index: 1;
}
ul>li>a.nav-link{
  position: relative;
  z-index: 3;
  cursor: pointer;
}
/* Banner */
#banner {
  width: 100%;
  height: auto;
  background-image: url('./imagens/terra.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  color: #ffffff;
  text-align: center;
}
.container {
  position: relative;
  z-index: 2;
}
.texto-central{
  margin-top: 25vh;
}
h2{
  text-align: center;
  padding: 0.6em;
}
h2, h3{
  font-size: 1.8em;
}
h4{
  font-size: 1.5em;
}
div.conteudo-central{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#motivos, 
#contatos{
  background-color: #fffcf2;
}
#servicos{
  background-color: #add8e1;
}
div.galeria img{
  max-width: 95%;
  height: auto;
}
div.motivos{
  display: flex;
  flex-direction: column;
}
div.motivos-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  opacity: .5;
  background-size: 200% 100%;
}
div.motivos-card p{
  color: #fff;
  padding: 1.2em;
  font-family: 'Roboto', sans-serif;
  display: none;
}
div.motivos-card p, 
.card-text p{
  font-size: 1.5em;
}
div.motivos-card:hover{
  display: flex;
  flex-direction: row;
  flex: 1 0 70%;
  background-image: url('./imagens/fundo.jpg');
  background-position: -100% 0;
  border-radius: 20px;
  object-fit: cover;
  box-shadow: 3px 3px 50px #092ad3;
  padding: 0.8em;
  opacity: 1;
  transform: translate(15px, -15px);
  transition: .7s;
}
div.motivos-card:hover p{
  display: inline-block;
  transition: 1.5s;
}
div.par:hover{
  display: flex;
  flex-direction: row-reverse;
}
.numeros{
  width: 9.4em;
  height: 9.4em;
  background-color: #fff;
  padding: 7px;
  cursor: pointer;
}
.card{
  transition: transform 0.2s;
}
.card:hover{
  transform: translateY(-7px);
}
.card-title, 
.card-text{
  font-family: 'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}
.icone{
  width: 2.2em;
  margin: 5px;
}
.whats{
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 4;
}
.whats img{
  width: 3.2em;
  height: 3.2em;
}
footer{
  background-color: #5824b7;
}
footer a{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
@media (min-width: 319px){
  body, 
  nav.navbar{
    max-width: 320px;
  }
  div.motivos-card:hover{
    display: flex;
    flex-direction: column;
  }
  .navbar-brand{
    font-size: 15px;
  }
}
@media (min-width: 374px){
  body, 
  nav.navbar{
    max-width: 375px;
  }
  div.motivos-card:hover{
    display: flex;
    flex-direction: column;
  }
  .navbar-brand{
    font-size: 18px;
  }
}
@media (min-width: 424px){
  body, 
  nav.navbar{
    max-width: 425px;
  }
  .navbar-brand{
    font-size: 22px;
  }
}
@media (min-width: 574px){
  body, 
  nav.navbar{
    max-width: 575px;
  }
  #banner{
    padding: 80px 0;
  }
  .navbar{
    padding: 10px 0;
  }
}
@media (min-width: 767px){
  body, 
  nav.navbar{
    max-width: 768px;
  }
  div.motivos-card:hover{
    display: flex;
    flex-direction: row;
  }
  div.par:hover{
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 1023px){
  body, 
  nav.navbar{
    max-width: 1024px;
    font-size: 1em;
  }
}
@media (min-width: 1439px){
  body, 
  nav.navbar{
    max-width: 1440px;
    font-size: 1.2em;
  } 
  nav.navbar {
    width: 1440px;
  }
  .navbar-brand{
    font-size: 24px;
  }
  .lead{
    font-size: 24px;
  }
  .btn-lg{
    font-size: 24px;
  }
  .card-title{
    font-size: 1.2em;
  } 
  .card-text{
    font-size: 0.8em;
  }
  .btn-primary{
    font-size: 1em;
  }
  .numeros{
    width: 200px;
  }
  div.motivos-card>p{
    font-size: 1.2em;
  }
}
@media (min-width: 2559px){
  body, 
  nav.navbar{
    max-width: 2560px;
    font-size: 1.5em;
  }
  nav.navbar {
    width: 2560px;
  }  
  .numeros{
    width: 250px;
  }
}